#client
.client
  .client-section-title ##{section.client.title}
  .client-wrapper
    ul.client-list
        li.client-item
          img.client-image(src="asset/image/client/bitbee.svg", alt="Bitbee Ltd Image")
