$class: 'client';

.#{$class} {
  @extend %section-container;
}

.#{$class}-section-title {
  @extend %section-title;
}

.#{$class}-image {
  max-width: 100%;
  height: 10rem;
}

.#{$class}-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.#{$class}-item {
  min-height: 5rem;
  display: flex;
  justify-content: center;
}
