#client
.client
  .client-section-title ##{section.client.title}
  .client-wrapper
    ul.client-list
        li.client-item
          img.client-image(src=section.client.content, alt="Bitbee Ltd Image")
