//- loop through each of the card collection
//- and render as many paragraphs as available
each card in content.card
  .about-card
    h3.about-card-title #{card.title}
    p.about-card-descrition #{card.description}
    p.about-card-location #{card.location}
    p.about-card-date #{card.date}
