$class: 'soft-skill';

.#{$class} {
  border: 0.1rem solid $color-periwinkle-gray;
}

.#{$class}-title {
  padding: 0.5rem;
  &:nth-child(odd) {
    background-color: lighten($color-periwinkle-gray, 15);
  }
  &:nth-child(even) {
    background-color: lighten($color-periwinkle-gray, 9 )
  }
}
