#menu
.menu
  .menu-call
    div
      a(href="#menu")
        span.resume-icon-menu3
          span Menu
  .menu-list
    ul
      li
        a(href="#home")
          span.resume-icon-home
            span Home
      li
        a(href="#about")
          span.resume-icon-wondering
            span About
      li
        a(href="#experience")
          span.resume-icon-airplane
            span Experience
      li
        a(href="#skill")
          span.resume-icon-hammer
            span Skill
        
