doctype html
html
  head
    title #{site.data.resume.page.pageTitle}
    meta(name="description", content=site.data.resume.page.pageDescription)
    if config.entry.css.external
      link(rel="stylesheet", href="style.css")
  body
    .container
      block content
