doctype html
html
  head
    meta(charset="utf8")
    -var resume = site.data.resume;
    title #{resume.page.pageTitle}
    //- grab the pageDescription from src, _data, resume.json,
    //- page and insert it into meta description for SEO
    meta(name="description", content=resume.page.pageDescription)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      //- the value of config.entry.css.external can be found in package.json
      //- and you can navigate to the "config" property, down to "entry", and
      //- into "css" and finally to "external" and find the value to be "true"
      //- or "false"
    if config.entry.css.inline
      link(rel="stylesheet", href=`${inlinePath}`, inline)
    if config.entry.css.external
      link(rel="stylesheet", href="style.css")
    //- :)
  body
    .container
      block content
