@import 'home-message-box';

$class: 'home';

%uppercase {
  text-transform: uppercase;
}

.#{$class} {
  @extend %section;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../asset/image/background-top1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.#{$class}-wrapper {
  text-align: center;
  padding: 0.1rem 0.8rem;
}

.#{$class}-name {
  @extend %uppercase;
  font-size: 2rem;
  font-family: 'Open Sans';
  font-weight: bold;
}

.#{$class}-title {
  @extend %uppercase;
  font-size: 1rem;
  font-family: 'Open Sans';
}


.#{$class}-item {
  padding: 0.1rem 0.3rem;
}

.#{$class}-link {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  &active,
  &focus {
    color: $color-fiord;
}


.#{$class}-social {
// the ul tag has 100% width. we use display inline-flex
// so that the container no longer breaks on new line
  display: inline-flex;
// we use max-width 80viewport which means 80% of the width
// which we can view on the screen
  max-width: 80vw;
// if the total width of the children exceeds the available
// width provided by this container, break the rest of the
// content on new line
  flex-wrap: wrap;
  margin-top: 0.5rem;
// set the items that break on new line to be aligned center
  justify-content: center;

}
