.note
  .note-intro Your screen is in landscape mode
  .note-header To view the website at its best try:
  ul.note-list
    li.note-item rotate your device in portrait mode
    li.note-item resize your browser to portrait
    li.note-item ignore all the above and hide this message
